{% load static tailwind_tags %}
<head>
   {% tailwind_css %}
</head>
{% load socialaccount %}
<div class="min-h-screen flex text-gray-800 flex-col items-center justify-center bg-gray-100">
    <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-md text-center">
        <h1 class="text-2xl font-bold mb-4">¿Deseas cerrar sesión?</h1>
        
        <form method="post">
            {% csrf_token %}
            <button 
                type="submit"
                class="w-full py-2 bg-red-600 text-white font-semibold rounded-lg hover:bg-red-700 transition"
            >
                Cerrar sesión
            </button>
        </form>

        <a href="/" class="text-blue-600 mt-4 inline-block">Volver al inicio</a>

    </div>
</div>
