{% extends 'base/navbar2.html' %}
{% block title %}Reportes - {{ proyecto.nombre }}{% endblock %}


{% block content %}
    <h1>Dashboard del Proyecto: {{ proyecto.nombre }}</h1>
    
    <div class="row">
        
        {# Gráfico 1: Torta de Estados (Set3) #}
        <div class="col-md-6">
            <div class="card p-3 shadow">
                {{ grafico_torta_estado | safe }} 
            </div>
        </div>

        {# Gráfico 2: Torta Original (RdBu) #}
        <div class="col-md-6">
            <div class="card p-3 shadow">
                {{ grafico_barras_lineas | safe }} 
            </div>
        </div>

    </div>
{% endblock content %}