{% extends 'base/navbar1.html'%}
{% block content %}
<div class="flex flex-col items-center gap-4 py-6">
    <div class = "flex flex-row justify-between w-full px-4">
        <h1 class = " text-4xl">Listado:</h1>
        <form action="{% url 'verificar_proyecto' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">
                Crear Proyecto
            </button>
        </form>
    </div>
    {% for proyecto in proyectos %}
    <div class="relative w-9/10 rounded-2xl p-4 bg-blue-950 hover:bg-blue-900 text-white shadow">
    
        <a href="{% url 'vista_gantt' proyecto.id %}" class="block h-full w-full pr-10">
            <div class="text-2xl font-semibold">
                {{ proyecto.nombre }}
            </div>
            <div class="mt-2 text-sm text-gray-300">
                <p>Creado: {{ proyecto.fecha_creacion }}</p>
                <p>Última modificación: {{ proyecto.ultima_modificacion }}</p>
            </div>
        </a>
        <details class="absolute top-2 right-2">
            <summary class="cursor-pointer list-none p-1 rounded hover:bg-gray-300">
                ⋮
            </summary>
            <!-- Menú alineado a la izquierda -->
            <div class="absolute right-full translate-x-6 rounded-lg border border-gray-700 shadow-lg bg-white z-10 overflow-hidden">
                <a href="{% url 'exportar_gantt' proyecto.id %}" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 font-medium">
                    📥 Exportar Gantt
                </a>
                <form action="{% url 'eliminar_proyecto' %}" method="POST"
                    onsubmit="return confirm('¿Seguro que deseas eliminar este proyecto?')">
                    {% csrf_token %}
                    <input type="hidden" name="proyecto_id" value="{{ proyecto.id }}">
                    <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50 font-bold">
                        🗑️ Eliminar
                    </button>
                </form>
            </div>
        </details>
    </div>
    {% endfor %}
</div>
{% endblock %}
