{% load static tailwind_tags %}
<!DOCTYPE html>
<html data-theme="light" lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Proyecto X{% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  {% tailwind_css %}
</head>
<body class="bg-gray-100">

  <nav class="bg-blue-950 shadow-md">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex items-center justify-between h-16 py-5 p-2">

        <div class="flex items-center">
          <a href="{% url 'proyectos' %}" class="text-4xl font-bold text-white hover:text-gray-300">←</a>
        </div>

        <div class="flex-1 text-center">
          <h1 class="text-4xl font-semibold text-white">{{ proyecto.nombre }}</h1>
        </div>

        <div class="flex space-x-6">
          <a href="{% url 'vista_gantt' proyecto.id %}" class="text-white hover:text-gray-300 {% if request.resolver_match.url_name == 'vista_gantt' %}font-bold border-b-2 border-white{% endif %}">
            Gantt
          </a>
          <a href="{% url 'lista_actividades' proyecto.id %}" class="text-white hover:text-gray-300 {% if request.resolver_match.url_name == 'lista_actividades' %}font-bold border-b-2 border-white{% endif %}">
            Lista
          </a>
          <a href="{% url 'vista_tablero' proyecto.id %}" class="text-white hover:text-gray-300 {% if request.resolver_match.url_name == 'vista_tablero' %}font-bold border-b-2 border-white{% endif %}">
              Tablero
          </a>
          <a href="{% url 'listado_alertas' proyecto.id %}" class="text-white hover:text-gray-300 {% if request.resolver_match.url_name == 'listado_alertas' %}font-bold border-b-2 border-white{% endif %}">
              Alertas
          </a>
          <a href="{% url 'reportes' proyecto.id %}" class="text-white hover:text-gray-300 {% if request.resolver_match.url_name == 'otra_vista' %}font-bold border-b-2 border-white{% endif %}">
              Reportes
          </a>
        </div>

      </div>
    </div>
  </nav>

  <main class="p-4">
    {% block content %}
    {% endblock %}
  </main>

</body>
</html>